@using ThesisProject.WebApp.Models.Card
@model AddDiagnoseViewModel
@{
    ViewData["Title"] = "Добавить диагноз";
    var path = Context.Request.Path;
    var query = Context.Request.QueryString;
    var currentUrl = path + query;
}

<h4>Добавить осмотр</h4>
<form asp-action="AddDiagnose" method="post">
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="@Model.ReturnUrl" />
    <input type="hidden" asp-for="@Model.PacientId" />
    <div class="form-group">
        <label asp-for="@Model.Diagnose.Name"></label>
        <input asp-for="@Model.Diagnose.Name" class="form-control" />
        <span asp-validation-for="@Model.Diagnose.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.History.Conclusion"></label>
        <input asp-for="@Model.History.Conclusion" class="form-control" />
        <span asp-validation-for="@Model.History.Conclusion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Добавть</button>
        <a class="btn btn-primary" href="@Model.ReturnUrl">Отменить</a>
    </div>
</form>